<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_check.css') }}">
    <title>Document</title>
</head>
<style>
    .color_A{
        background-color:{{color1}}
    }

    .color_B{
        background-color:{{color2}}
    }
</style>
<body>
    {% for i in range(x)%}
        <div class="row">
        {%if (i%2 == 0) %}
            {% for j in range(y)%}
                {% if(j%2==0) %}
                    <div class="block_A color_A"></div>
                {% else: %}
                    <div class="block_B color_B"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for j in range(y)%}
                {% if(j%2!=0) %}
                    <div class="block_A color_A"></div>
                {% else: %}
                    <div class="block_B color_B"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    {% endfor %}
</body>
</html>